html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.title {
  font-weight: bold;
  text-align: center;
  font-size: medium;
  color: darkslateblue;
}

.big_title {
  font-weight: bold;
  text-align: center;
  font-size: large;
  color: white;
}

.sub_title {
  font-weight: bold;
  font-size: small;
  color: royalblue;
}

.on {
  background-color: green;
  height: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60px;
  border-radius: 8px;
  text-align: center;
  color: white;
}

.off {
  background-color: red;
  height: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60px;
  border-radius: 8px;
  text-align: center;
  color: white;
}
